<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    {%if df %}
    <div class="table-responsive">
        <table id ="table id", class="table table-striped">
            <tbody>
                {%for ctrrow in df %}
                <tr>
                    <td>{{ ctrrow.comment }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    {%endif%}

    <script>
        function loadTable(tableId, fields, data) {
            //$('#' + tableId).empty(); //not really necessary
            var rows = '';
            $.each(data, function(index, item) {
                var row = '<tr>';
                $.each(fields, function(index, field) {
                    row += '<td>' + item[field+''] + '</td>';
                });
                rows += row + '<tr>';
            });
            $('#' + tableId).html(rows);
        }
        var jsonData = [];

         setInterval(function(){
             $.getJSON('/refreshData', {
             }, function(data) {
                jsonData = data.df
             });
             loadTable('table id', ['user', 'commment'], jsonData);
         },10000);
         
     </script>
</body>
 
</html>